@{
    ViewBag.Title = "Contact Me";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <div>
        <span>Adnan Bin Farook</span><br />
        <span>Senior Software Engineer</span><br />
        <span>RM Education Solution India Pvt. Ltd</span><br />
        <span>Technopark Phase 3, Ganga 2nd Floor, Trivandrum</span><br />
        <a href="tel:+919496023959" style="text-decoration:none"><i class="bi bi-telephone"></i><span class="ms-1">+91 9496023959</span></a><br />
        <a href="mailto:abinfarook@in.rm.com" style="text-decoration:none"><i class="bi bi-envelope"></i><span class="ms-1">abinfarook@in.rm.com</span></a><br />
    </div>

    <address>
        
    </address>
</main>